.backdrop {
	height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 68;
    width:100%;

	&__row{
		height:100%;
		&:nth-of-type(1){
			background-color:teal;
		}
		&:nth-of-type(2){
			background-color:purple;
		}
		&:nth-of-type(3){
			background-color:green;
		}
		&:nth-of-type(4){
			background-color:seagreen;
		}
		&:nth-of-type(5){
			background-color:yellow;
		}
		&:nth-of-type(6){
			background-color:pink;
		}
	}
}

.squares {
	display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
	overflow:hidden;
	
	&__inner{
		

		&:nth-of-type(1){
			background-color:$color-secondary-dark;
			transform: rotate(12deg);
		}
		&:nth-of-type(2){
			background-color:$color-tertiary-dark;
			transform: rotate(35deg);
		}
		&:nth-of-type(3){
			background-color:$color-secondary-light;
			transform: rotate(29deg);
		}
		&:nth-of-type(4){
			background-color:$color-tertiary-light;
			transform: rotate(40deg);
		}
		&:nth-of-type(5){
			background-color:$color-tertiary-light;
			transform: rotate(40deg);
		}
		&:nth-of-type(6){
			background-color:$color-primary-medium;
			transform: rotate(71deg);
		}

	}
	&__underlay {
		position: relative;
	}
	&__overlay {
		position: absolute;
		width:100%;
		height:100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&-rotated-square{
			background-color: red;
		    transform: rotate(-35deg);
		    height: 19%;
		    width: 100%;
		    padding-left:100%;
		    padding-right:100%;
		    position: relative;
		    color: #fff;
		    text-align: center;
		    display: flex;
		    justify-content: center;
		    font-size: 37px;
		    align-items: center;

		    &:after{
		    	//content:"Squirrel Zingin Loony Power Happy Dog Hour";
		    	position:absolute;
		    };
		}
	}
}